html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

/* Dark background */
body {
  background: #0b1220;
}

.leaflet-control {
  background: #020617;
  color: #e5e7eb;
}
